$bg-a: #3e537c;
$bg-a2: #3d5d96;
$bg-hi: #F5F5F5;
$nav-height: 50px;

body {
  color: #FFF;
  text-align: center;
}

.content-inner-a {
  margin: 0 auto;
  padding-top: 75px;
  font-size: 2em;
  max-width: 1138px;
  text-align: center;
  overflow: hidden;
}

.nav-link {
  display: inline-block;
  float: right;
}
.content-prim {
  padding-top: 140px;
}

nav.navA {

  height: $nav-height;
  font-size: 1.2em;
  line-height: 50px;

  ul {
    max-width: 1138px;
    margin: 0 auto;
    height: $nav-height;

    li {
      display: inline-block;
      float: left;

      a {
        display: block;
        color: $bg-a;
        padding: 0 1.25em 0 1.25em;
        font-weight: 500;
        height: 50px;
      }
      a:hover {
        background: $bg-hi;
      }
    }

    li:last-child {
      float: right;
      a {
        text-align: middle;
        display: block;
        margin-right: 1.6em;
      }
    }

    #nav-logo{
      a {
        font-size: 1.3em;
        margin: 0 4.25em 0 1.6em;
      }
      a:hover {
        background: #FFF;
      }
    }
  }

  #nav-logo {
    font-weight: 600;
    a {
      padding: 0;
    }
  }

  #nav-ham {
    visibility: hidden;
    position: relative;
    width: 60px;
    height: 40px;
    display: block;
    margin-right: 20px;
    margin-top: 5px;

    :hover {
      background: $bg-hi;
      border-radius: 5px;
    }
  }

  #ham-btn {
    display: block;
    width: 60px;
    height: 40px;
    padding: 10px 15px 10px 15px;
  }
}

.content-prim {
  height: 553px;
  @include radial-gradient($bg-a2, $bg-a);
  color: #FFF;
}

.content-sec {
  color: $bg-a;
  background: #FFF;
  height: 1538px;
}

/* Media queries to make the site responsive */

@media screen and (max-width: 765px) {

  .main-container-a {
    overflow: visible;
    max-width: 100%;
    margin: 0;
    padding: 0;

  }

  .navA {
    .nav-link {
      width: 100% !important;
      display: none;
      text-align: left;

      a {
        width: 100%;
        padding-left: 2em;
        display: block;
      }

    }

    #nav-ham {
      visibility: visible !important;
      float: right !important;
    }

    #ham-link {
      padding: 0;
      margin: 0;
      width: auto;
      height: auto;
    }
  }

  .content-prim {
    height: 442px;
  }
}

@media screen and (min-width: 766px) {
  .navA{
    height: 50px !important;
    #nav-ham {
      display: none;
    }

    .nav-link {
      display: block !important;
    }
  }
}
