$bg-a: #FF6B6B;

body{
  .a{
    background-color: $bg-a;
    font-size: 20em;
    padding: 0 0 100% 0;
  }

  nav.navA{
      height: 50px;
      min-width: 100%;
      font-size: 1.6em;

      ul{
        position: absolute;
        width: 100%;
        padding-left: 2%;

        li{
          float: left;
          position: relative;
          padding-right: 5%;
        }
      }
  }

  @media screen and (max-width: 500px) {
    .navA{
      ul{
        height: 50px;
        overflow: hidden;
      }
      li{
        width: 100%;
      }
    }
}
}
