$bg-a: #3e537c;
$bg-a2: #3c5d96;
$bg-hi: #F5F5F5;
$nav-height: 50px;

.a {
  font-size: 10em;
  overflow: hidden;
  color: #FFF;
  @include radial-gradient($bg-a2, $bg-a);
}

nav.navA {
  height: $nav-height;
  width: 100%;
  font-size: 1.2em;
  line-height: 50px;

  ul {
    position: absolute;
    height: $nav-height;
    width: 100%;

    li {
      display: inline-block;
      a {
        display: block;
        color: $bg-a;
        padding: 0 1.25em 0 1.25em;
        font-weight: 500;
        height: 50px;
        overflow: hidden;
      }
      a:hover {
        background: $bg-hi;
      }
    }

    li:last-child {
      float: right;
      a {
        margin-right: 1.6em;
        padding-right: 0;
      }
    }

    #nav-logo{
      a {
        font-size: 1.3em;
        margin: 0 4.25em 0 1.6em;
      }
      a:hover {
        background: #FFF;
      }
    }
  }

  #nav-ham {
    visibility: hidden;
    position: relative;
    :hover {
      background: #FFF;
    }
  }

  #nav-logo {
    font-weight: 600;
    a {
      padding: 0;
    }
  }
}

@media screen and (max-width: 765px) {
  .navA{
    .nav-link {
      width: 100% !important;
      visibility: hidden;
      text-align: left;

      a {
        width: 100%;
        padding-left: 2em;
        display: block;
      }

    }
    #nav-ham {
      visibility: visible !important;
      float: right !important;
    }
  }
}

@media screen and (min-width: 766px) {
  .navA{
    height: 50px !important;
    #nav-ham {
      display: none;
    }
    .nav-link {
      visibility: visible !important;
      display: inline-block;
    }
  }
}
