$bg-navA: #FFF;
$bg-navB: tint(purple, 65%);
$bg-navC: tint(lightblue, 0%);
$bg-navD: tint(orange, 65%);

.navA{
  background-color: $bg-navA;
}
.navB{
  background-color: $bg-navB;;
}
.navC{
  background-color: $bg-navC;
}
.navD{
  background-color: $bg-navD;
}
