$bg-navA: #FFF;
$bg-navB: #FFF;
$bg-navC: #FFF;
$bg-navD: #FFF;

.navA{
  background-color: $bg-navA;
}
.navB{
  background-color: $bg-navB;;
}
.navC{
  background-color: $bg-navC;
}
.navD{
  background-color: $bg-navD;
}
