<nav class="navB">
  <ul>
    <li class="nav-logo"> {{#link-to 'a'}}etdev{{/link-to}} </li>
    <li class="nav-link"> {{#link-to 'a'}}Page A{{/link-to}} </li>
    <li class="nav-link"> {{#link-to 'b'}}Page B{{/link-to}} </li>
    <li class="nav-link"> {{#link-to 'c'}}Page C{{/link-to}} </li>
    <li class="nav-link"> {{#link-to 'd'}}Page D{{/link-to}} </li>
    <li class="nav-ham"> [ham] </li>
  </ul>
</nav>
