<nav class="navA">
  <ul>
    <li> {{#link-to 'a'}}Page A{{/link-to}}</li>
    <li> {{#link-to 'b'}}Page B{{/link-to}}</li>
    <li> {{#link-to 'c'}}Page C{{/link-to}}</li>
    <li> {{#link-to 'd'}}Page D{{/link-to}}</li>
  </ul>
</nav>
