<nav class="navB">
  navB
  <ul>
    <li> {{#link-to 'a'}}A{{/link-to}}</li>
    <li> {{#link-to 'b'}}B{{/link-to}}</li>
    <li> {{#link-to 'c'}}C{{/link-to}}</li>
    <li> {{#link-to 'd'}}D{{/link-to}}</li>
  </ul>
</nav>
